<md-content flow-init layout-padding>
	<div layout="column" ng-controller="UploadCtrl as uc">
			<h2>Upload files</h2>
			<div class="md-actions">
				<md-button ng-click="uc.upload()" aria-label="upload" class="md-primary md-raised">
					Upload
					<md-icon md-svg-icon="editor:ic_attach_file_24px"></md-icon>
				</md-button>
			</div>
			<md-progress-linear md-mode="determinate"	ng-value="uc.progress()" ng-show="!uc.isUploaded()">
			</md-progress-linear>
			<h3>Uploaded files:</h3>
			<div layout="row" layout-wrap layout-padding>
				<div ng-repeat="img in uc.images track by img._id" layout="row">
					<a ng-href="{{ uc.url(img, 'original')}}"><img ng-src="{{ uc.url(img, 'thumbnail') }}"></a>
					<md-button class="md-icon-button md-warn" aria-label="delete" ng-click="img.remove();">
						<md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
					</md-button>
				</div>
			</div>
	</div>
</md-content>
